.rich-checkbox-buttons {

  &__title {
    margin-bottom: 1.7rem;
  }

  &__list {
    list-style: none;
    margin: none;
    padding: none;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__input {
    display: none;
  }

  &__label {
    display: block;
    position: relative;
    line-height: 1.8rem;
    font-family: 'Montserrat Bold';
    padding-left: 3rem;
    margin-bottom: .6rem;

    &:hover {
      cursor: pointer;
      color: $dark-blue-color;
    }

    &:active {
      color: $grey-blue-color;
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border: 1px solid $light-grey-color;
      border-radius: .4rem;
      top: 0;
      left: 0;
      margin-top: -.1rem;
    }
  }

  &__input:checked + &__label::before {
    border-color: $purple-color;
    background-image: url(components/rich-checkbox-buttons/images/Vector.png); 
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }

  &__text {
    padding-left: 3rem;
    padding-right: .5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $grey-color;
  }
}