.search-form-short {
  background-color: white;
  width: 38rem;
  padding: 4rem 3rem 3rem 3rem;
  @include box-shadow;

  &__header {
    margin: 0;
    margin-bottom: 1.7rem;
    line-height: 3rem;
    letter-spacing: .11rem;
  }

  &__datepicker {
    margin-bottom: 1.6rem;
  }

  &__guests-dropdown {
    margin-bottom: 3rem;
  }
}