form.search-form-short
  h1.search-form-short__header.header--first Найдём номера под ваши пожелания
  .search-form-short__datepicker
    include ../datepicker/datepicker
  .search-form-short__guest-dropdown
    include ../guests-dropdown/guests-dropdown

