.search-form-short {
  background-color: white;
  width: 38rem;
  padding: 3.9rem 2.9rem 2.9rem 2.9rem;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: .4rem;
  @include box-shadow;

  &__header {
    margin: 0;
    margin-bottom: 1.5rem;

    &--stretched {
      letter-spacing: .13rem;
    }
  }

  &__datepicker {
    margin-bottom: 1.6rem;
  }

  &__guests-dropdown {
    margin-bottom: 3.1rem;
  }
}