include ../button/button.pug

form.search-form-short(action="/search-room.html")
  h1.search-form-short__header.header--first Найдём номера под ваши пожелания
  .search-form-short__datepicker
    include ../datepicker/datepicker
  .search-form-short__guests-dropdown
    include ../guests-dropdown/guests-dropdown
  + button('Подобрать номер', 'blue', 'high', 'wide')

