include ../button-submit/button-submit
include ../datepicker/datepicker

//- path changed from '/search-room' to 'hotel/search-room.html' for gh-pages, for dev use '/search-room.html'
form.search-form-short(action="search-room.html")
  h1.search-form-short__header.header--first Найдём номера под 
    span.search-form-short__header--stretched ваши пожелания
  .search-form-short__datepicker
    + datepicker('Прибытие', 'Выезд')
  .search-form-short__guests-dropdown
    include ../guests-dropdown/guests-dropdown
  + button-submit('Подобрать номер')

