//colors
$dark-blue-color: #1F2041;
$grey-blue-color: rgba(31, 32, 65, 0.75);
$grey-color: rgba(31, 32, 65, 0.5);
$light-grey-color: rgba(31, 32, 65, 0.25);
$smoke-white-color: rgba(31, 32, 65, 0.05);
$light-blue-color: #8BA4F9;
$purple-color: #BC9CFF;
$blue-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$blue-gradient-transparent: linear-gradient(180deg, rgba(#BC9CFF, .25) 0%, rgba(#8BA4F9, .25) 100%);
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$orange-gradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$black-gradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);
$green-color: #6FCF97;

//fonts
$default-font-size: 1.4rem;
$default-font-color: $grey-blue-color;

//sizes
$grid-width: 80.56%;