@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.eot');
  src: url('./fonts/Montserrat-Regular.woff') format('woff'), 
    url('./fonts/Montserrat-Regular.ttf') format('truetype'), 
    url('./fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('Material Icons'),
//     local('MaterialIcons-Regular'),
//     url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
//     url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
//     url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
// }

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./fonts/Montserrat-Bold.eot');
  src: url('./fonts/Montserrat-Bold.woff') format('woff'), 
    url('./fonts/Montserrat-Bold.ttf') format('truetype'), 
    url('./fonts/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('./fonts/Quicksand-Bold.eot');
  src: url('./fonts/Quicksand-Bold.woff') format('woff'), 
    url('./fonts/Quicksand-Bold.ttf') format('truetype'), 
    url('./fonts/Quicksand-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.eot');
  src: url('./fonts/Quicksand-Regular.woff') format('woff'), 
    url('./fonts/Quicksand-Regular.ttf') format('truetype'), 
    url('./fonts/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;
  line-height: 2.4rem;
  color: $default-font-color;
}

.header--first {
  font-family: 'Quicksand Bold', 'Arial','Montserrat Bold', sans-serif;
  color: $dark-blue-color;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: .1rem;
}

.header--second {
  font-family: 'Quicksand Bold','Montserrat Bold', sans-serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
  letter-spacing: -.035rem;
}

.header--third {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 1.2rem;
  line-height: normal;
  color: $dark-blue-color;
  text-transform: uppercase;
  // letter-spacing: .04rem;
}

