//colors
$dark-blue-color: #1F2041;
$grey-blue-color: rgba(31, 32, 65, 0.75);
$grey-color: rgba(31, 32, 65, 0.5);
$light-grey-color: rgba(31, 32, 65, 0.25);
$white-smoke-color: rgba(31, 32, 65, 0.05);
$purple-color: #BC9CFF;
$green-color: #6FCF97;

//fonts
$default-font-size: 1.4rem;
$default-font-color: $grey-blue-color;