.room-impressions
  h2.room-impressions__header.header--second Впечатления от номера
  .room-impressions__row
    .room-impressions__donut
      <svg width="120" height="120" viewBox="0 0 33.5 33.5" class="donut">
        <circle class="donut-hole" cx="16.75" cy="16.75" r="15.91549430918954" fill="#fff"></circle>
        <circle class="donut-ring" cx="16.75" cy="16.75" r="15.91549430918954" fill="transparent" stroke="url(#blackGradient)" stroke-width="1.3" stroke-dasharray="0 100" stroke-dashoffset="25"></circle>
        <circle class="donut-ring" cx="16.75" cy="16.75" r="15.91549430918954" fill="transparent" stroke="url(#blueGradient)" stroke-width="1.3" stroke-dasharray="24.5 75.5" stroke-dashoffset="125"></circle>
        <circle class="donut-ring" cx="16.75" cy="16.75" r="15.91549430918954" fill="transparent" stroke="url(#greenGradient)" stroke-width="1.3" stroke-dasharray="24.5 75.5" stroke-dashoffset="100"></circle>
        <circle class="donut-ring" cx="16.75" cy="16.75" r="15.91549430918954" fill="transparent" stroke="url(#orangeGradient)" stroke-width="1.3" stroke-dasharray="49.5 50.5" stroke-dashoffset="75"></circle>
        <defs>
          <linearGradient id="orangeGradient" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
            <stop offset="0%" stop-color="#FFE39C"/>
            <stop offset="100%" stop-color="#FFBA9C"/>
          </linearGradient>
          <linearGradient id="blueGradient" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
            <stop offset="0%" stop-color="#BC9CFF"/>
            <stop offset="100%" offset="1" stop-color="#8BA4F9"/>
          </linearGradient>
          <linearGradient id="greenGradient" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
            <stop offset="0%" stop-color="#6FCF97"/>
            <stop offset="100%" stop-color="#66D2EA"/>
          </linearGradient>
          <linearGradient id="blackGradient" x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse">
            <stop offset="0%" stop-color="#919191"/>
            <stop offset="100%" stop-color="#3D4975"/>
          </linearGradient>
        </defs>
      </svg>
      .donut__text
        .donut__number 260
        .donut__label голосов
    ul.room-impressions__list
      li.room-impressions__item.room-impressions__item--great Великолепно
      li.room-impressions__item.room-impressions__item--good Хорошо
      li.room-impressions__item.room-impressions__item--fair Удовлетворительно
      li.room-impressions__item.room-impressions__item--disappointed Разочарован

