.sign-in {
  &__main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -7rem;
    background-image: url(pages/register/images/image-4.1.jpg);
    padding-top: 16.3rem;
    padding-bottom: 16.2rem;

    @media (max-width: 1439px) {
      background-position: center;
    }
  }

  &__form-container {
    display: flex;
    justify-content: center;
  }
}