.button {
  position: relative;
  border: none;
  outline: none;
  font-family: 'Montserrat Bold';
  font-size: 1.225rem;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;

  &--low {
    font-size: 1.2rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    line-height: 3rem;

    &.button--narrow {
      padding: 0 2rem;

      &.button--white {
        width: 8.7rem;
        text-align: center;
        padding: 0;
      }
    }
  }

  &--high {
    height: 4.4rem;
    border-radius: 2.2rem;
    line-height: 4rem;

    &.button--narrow {
      width: 9.9rem;
      text-align: center;
    }
  }

  &--wide {
    width: 32rem;
    text-align: center;

    &::after { 
      font-family: 'Material Icons';
      content: "\e5c8";
      font-size: 2.4rem;
      color: white;
      display: block;
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      top: 0;
      right: 0;
    }

    &:active::after {
      color: $light-grey-color;;
    }
  }



  &--white {
    border: 2px solid $purple-color;
    background-color: white;
    color: $purple-color;

    &:hover {
      border-color: rgba($purple-color, .5);
    }

    &:active {
      color: rgba($purple-color, .5);
    }
  }

  &--blue {
    color: white;
    background: $blue-gradient;

    &:hover {
      opacity: .5;
    }

    &:active {
      color: $light-grey-color;
    }
  }
}