mixin button(title, color, height, width, type) 
  - title = title || 'click me';
  - color = color || 'white';
  - height = height || 'high';
  - width = width || 'wide';
  - type = type || 'submit'
  - var colorClass = 'button--' + color;
  - var heightClass = 'button--' + height;
  - var widthClass = 'button--' + width;

  button(class=`button ${colorClass} ${heightClass} ${widthClass}` type=`${type}`)= title