.button {
  position: relative;
  border: none;
  outline: none;
  font-family: 'Montserrat Bold';
  font-size: 1.225rem;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;

  &--low {
    font-size: 1.2rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    line-height: 3.4rem;
    
    &.button--white {
      height: 3rem;
      border-radius: 1.5rem;
      line-height: 3rem;

      &::before {
        border-radius: 1.7rem;
      }

      &.button--narrow {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
      }
    }

    &.button--narrow {
      padding-left: 1.9rem;
      padding-right: 2rem;
    }
  }

  &--wide {
    padding-left: 1.8rem;
    padding-right: 2.2rem;
    width: 32rem;
    text-align: center;

    &::after { 
      font-family: 'Material Icons';
      content: "\e5c8";
      font-size: 2.4rem;
      color: white;
      display: block;
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &--high {
    height: 4.4rem;
    border-radius: 2.2rem;
    line-height: 4.4rem;

    &.button--white {
      height: 4rem;
      border-radius: 2rem;
      line-height: 4rem;

      &.button--narrow {
        padding-left: 1.8rem;
        padding-right: 1.6rem;
      }

      &::before {
        border-radius: 2.2rem;
      }
    }
  }

  &--white {
    background-color: white;
    color: $purple-color;

    &::before {
      display: table;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin-left: -.2rem;
      margin-top: -.2rem;
      height: calc(100% + .4rem);
      width: calc(100% + .4rem);
      background-image: $blue-gradient;
      z-index: -1;
    }

    &:hover::before {
      opacity: .5;
    }

    &:active {
      color: rgba($purple-color, .5);
    }
  }

  &--blue {
    color: white;
    background: $blue-gradient;

    &:hover {
      opacity: .5;
    }

    &:active {
      color: $light-grey-color;
    }
  }
}