.dropdown {

  &__label {
    
  }

  &__group {
    position: relative;
  }

  & .input-dropdown--open {
    border: 1px solid $grey-color;
    border-radius: .4rem .4rem 0 0;
    border-bottom: none;   
  }


  &__box {
    box-shadow: 0rem 1rem 2rem $smoke-white-color;
    border: 1px solid $grey-color;
    border-radius: 0 0 .4rem .4rem;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding-bottom: 1.3rem;
    display: none;
    z-index: 90;

    &--visible {
      display: block;
    }
  }

  &__list {
    list-style: none;
    padding-top: .14rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    padding-right: .6rem;
    padding-left: 1.4rem;
  }

  &__item-title {
    margin-top: -.3rem;
    letter-spacing: 0;
  }

  &__amount-box {
    display: flex;
    align-items: center;
    min-width: 9.2rem;
    justify-content: space-between;
  }

  &__amount {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__amount-btn {
    outline: none;
    width: 3rem;
    height: 3rem;
    border: 1px solid $light-grey-color;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-color;

    &:hover {
      color: $grey-blue-color;
      border: 1px solid $grey-color;
      cursor: pointer;
    }
  }

}