include ../input-dropdown/input-dropdown

script 
  include ./conveniences.js
.dropdown(id="conveniences")
  label.dropdown__label.header--third(for="conveniences-input") Удобства номера
  .dropdown__group
    + input-dropdown("conveniences__input", "text", "conveniences-input",  "conveniences", "Выберите удобства")
    .dropdown__box(id="conveniences-dropdown-box")
      ul.dropdown__list
        li.dropdown__item 
          .dropdown__item-title.header--third Спальни
          .dropdown__amount-box 
            button.dropdown__amount-btn.dropdown__discrete(id="bedrooms-discrete") -
            .dropdown__amount(id="bedrooms-amount") 2
            button.dropdown__amount-btn.dropdown__amount-add(id="bedrooms-add") +
        li.dropdown__item 
          .dropdown__item-title.header--third Кровати
          .dropdown__amount-box 
            button.dropdown__amount-btn.dropdown__discrete(id="beds-discrete") -
            .dropdown__amount(id="beds-amount") 2
            button.dropdown__amount-btn.dropdown__amount-add(id="beds-add") +
        li.dropdown__item 
          .dropdown__item-title.header--third Ванные комнаты
          .dropdown__amount-box 
            button.dropdown__amount-btn.dropdown__discrete(id="bathrooms-discrete") -
            .dropdown__amount(id="bathrooms-amount") 0
            button.dropdown__amount-btn.dropdown__amount-add(id="bathrooms-add") +
