.search {

  &__main {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }
  
  &__container {
    width: $grid-width;
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__sidebar-toggle {
    display: none;

    @include respond(phone) {
      font-family: 'Material Icons';
      font-size: 4rem;
      line-height: 5rem;
      vertical-align: middle;
      // text-align: center;
      display: block;
      width: 5rem;
      margin-left: auto;
      background: $blue-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    &:active {
      color: rgba(255,255,255,.3)
    }
  }

  &__sidebar {
    width: 22.93%;

    @include respond(phone) {
      width: 100%;
      display: none;
    }

    &--open {
      display: block;
      animation-duration: .5s;
      animation-name: moveDown;
    }
  }

  &__content {
    width: 71.896%;
    padding-bottom: 7rem;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__header.header--first {
    padding: .5rem 0;
    margin: 0;
    margin-bottom: 1.5rem;
    letter-spacing: .08rem;
  }

  &__rooms-container {
    margin-bottom: 1.8rem;
  }
}

