.search {
  
  &__container {
    width: $grid-width;
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
  }

  &__sidebar {
    width: 22.93%;
  }

  &__content {
    width: 71.896%;
    padding-bottom: 7rem;
  }

  &__header {
    padding: .5rem 0;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &__rooms-container {
    margin-bottom: 2.2rem;
  }
}

