extends ../common/common

block title
    | Search room
block main
  main(class="search__main")
    .search__container
      aside.search__sidebar 
        include ../../components/search-form/search-form
      .search__content
        h1.search__header.header--first Номера, которые мы для вас подобрали
        include ../../components/search-rooms/search-rooms