extends ../common/common
block title
    | Search room
block main
  main(class="search__main")
    .search__container
      aside.search__sidebar 
        include ../../components/search-form/search-form
      .search__content номера