include ../../components/header/header.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      block title
    body
      + header(false)
      //- + button('Зарегистрироваться', 'blue', 'low', 'narrow')
      block main

      include ../../components/footer/footer