.input-dropdown {
  position: relative;
  border: 1px solid $light-grey-color;
  height: 4.4rem; 
  border-radius: .4rem;
  padding-bottom: .3rem;

  &__field {
    width: 100%;
    padding-left: 1.4rem;
    padding-right: 4.2rem;
    text-overflow: ellipsis;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;  
    line-height: 3.9rem;
    vertical-align: middle; 
    color: $default-font-color;
  }

  &__toggle {
    cursor: pointer;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    top: 1px;
    right: 1px;
    // background: no-repeat center url('./components/input-dropdown/images/expand_more.svg');
    transition: all .2s;

    &::after { 
      font-family: 'Material Icons';
      content: '\e5cf';
      font-size: 2.4rem;
      color: white;
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      margin-top: -1rem;
      margin-right: -1rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      vertical-align: middle;
      text-align: center;
      color: $grey-color;
      transition: all .2s;
    }
  }

  &--open &__toggle::after {
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform .2s;
  }
}