script
  include price-range.js
.price-range
  .price-range__text
    label.price-range__label.header--third(for="price-range-input") Диапазон цены
    input.price-range__input(id="price-range-input")
  .price-range__slider(id="price-range-slider") 
  p.price-range__subtitle Стоимость за сутки пребывания в номере
