.register-form {
  width: 38rem;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: .4rem;
  @include box-shadow;
  padding-top: 3.8rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
  padding-bottom: 2.9rem;
  z-index: 1;

  &__header {
    margin-bottom: 2.1rem;
  }

  &__input--first-name {
    margin-bottom: 1rem;
  }

  &__input--last-name {
    margin-bottom: .8rem;
  }

  &__radio-buttons {
    margin-bottom: 2.2rem;
  }

  &__label {
    margin-bottom: .5rem;
  }

  &__input--birthday {
    position: relative;
    margin-bottom: 2rem;
  }

  &__subtitle {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -.5rem;
    font-size: 1.2rem;
    color: $light-grey-color;
    display: none;
  }

  &__input--email {
    margin-bottom: 1rem;
  }

  &__input--password {
    margin-bottom: .7rem;
  }

  &__toggle {
    margin-bottom: 2.3rem;
  }

  &__submit-btn {
    margin-bottom: 3rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}



