include ../input-field/input-field
include ../radio-buttons/radio-buttons
include ../button/button
include ../toggle-button/toggle-button

script
  include ../../../node_modules/inputmask/dist/jquery.inputmask.bundle.js
script
  include ./register-form.js
form.register-form
  h2.register-form__header.header--first Регистрация аккаунта
  .register-form__input.register-form__input--first-name
    + input-field("new-user-first-name", "first-name", "Имя")
  .register-form__input.register-form__input--last-name
    + input-field("new-user-last-name", "last-name", "Фамилия")
  .register-form__radio-buttons
    + radio-buttons("gender", "male", "Мужчина", "female", "Женщина")
  .register-form__label.header--third Дата рождения
  .register-form__input.register-form__input--birthday
    + input-field("new-user-birthday", "birthday", "ДД.ММ.ГГГГ")
    .register-form__subtitle Дату вводите в формате "ДД.ММ.ГГГГ"
  .register-form__label.header--third Данные для входа в сервис
  .register-form__input.register-form__input--email
    + input-field("new-user-email", "email", "Email")
  .register-form__input.register-form__input--password
    + input-field("new-user-password", "password", "Пароль")
  .register-form__toggle
    + toggle-button('Получать спецпредложения')
  .register-form__submit-btn
    + button("Зарегистрироваться", "blue", "high", "wide")
  .register-form__row
    .register-form__question Уже есть аккаунт на Toxin?
    .register-form__question-btn
      a(href="sign-in.html").register-form__link
        + button('Войти', 'white', 'high', 'narrow', 'button')
        

