.rich-chechbox-buttons
  .rich-checkbox-buttons__title.header--third Rich checkbox buttons
  ul.rich-checkbox-buttons__list
    li.rich-checkbox-buttons__item
      input.rich-checkbox-buttons__input(type="checkbox" id="wide-hall-input" name="accessibility1" value="wide-hall")
      label.rich-checkbox-buttons__label(for="wide-hall-input") Широкий коридор
      .rich-checkbox-buttons__text Ширина коридоров в номере не&nbsp;менее 91 см.
    li.rich-checkbox-buttons__item
      input.rich-checkbox-buttons__input(type="checkbox" id="assistant-input" name="accessibility2" value="wide-hall")
      label.rich-checkbox-buttons__label(for="assistant-input") Помощник для инвалидов
      .rich-checkbox-buttons__text На 1 этаже вас встретит специалист и проводит до номера.
