.main {
  background-color: $purple-color;

  &__container {
    min-height: 83rem;
    padding-top: 7rem;
    padding-bottom: 2rem;
    background-color: yellow;
    width: $grid-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    width: 29rem;
    align-self: flex-end;
    text-align: right;
    margin-right: -.6rem;
  }
}