.main {
  background-image: url(pages/index/images/image-3.jpg);
  background-position: 50% -7rem;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1439px) {
    background-position: center;
  }

  &__container {
    min-height: 83rem;
    padding-top: 7rem;
    padding-bottom: 2.1rem;
    width: $grid-width;
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(phone) {
      min-height: 58rem;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    width: 29rem;
    align-self: flex-end;
    text-align: right;
    margin-right: -.6rem;

    @include respond(phone) {
      margin-right: 0;
    }
  }
}