.main {
  background-image: url(pages/index/images/image-3.jpg);
  background-position: 50% -7rem;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1439px) {
    background-position: center;
  }

  &__container {
    min-height: 83rem;
    padding-top: 7rem;
    padding-bottom: 2rem;
    width: $grid-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    width: 29rem;
    align-self: flex-end;
    text-align: right;
    margin-right: -.6rem;
  }
}