extends ../common/common
block title
  | TOXIN
block main
  main(class="main")
    .main__container
      include ../../components/search-form-short/search-form-short
      p.main__text Лучшие номера для вашей работы, отдыха и просто вдохновения