.ui-cards {
  background-color: #E5E5E5;
  padding-bottom: 14rem;

  &__header {
    padding-top: 3rem;
    padding-left: 3rem;
    margin-bottom: 6.5rem;
  }
  
  &__main {
    width: 80.42%;
    margin: 0 auto;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__column--one {
    margin-right: 4rem;
  }

  &__column--three {
    width: 32rem;
    margin-left: auto;
  }

  &__column--three &__item:first-child {
    position: relative;
  }

  &__column--three .datepicker__calendar {
    top: 0;
  }
}