.ui-cards {
  background-color: #E5E5E5;
  padding-bottom: 14rem;

  &__header {
    padding-top: 3rem;
    padding-left: 3rem;
    margin-bottom: 6.5rem;
  }
  
  &__main {
    // width: 80.42%;
    max-width: 116rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__column--one {
    margin-right: 4rem;
  }

  &__column--two {
    margin-right: auto;
  }

  &__column--three &__item:first-child {
    position: relative;
    width: 32rem;
    margin-bottom: 40.9rem;
  }

  &__column--three .datepicker__calendar {
    top: 0;
  }
}