.search-form {
  padding-bottom: 3rem;

  @include respond(phone) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__datepicker-single {
    margin-bottom: 1.6rem;
  }

  &__guests-dropdown {
    margin-bottom: 3rem;
  }

  &__price-range {
    margin-bottom: 2.9rem;
  }

  &__permissions {
    margin-bottom: 3rem;
  }

  &__rich-checkbox-buttons {
    margin-bottom: 2.4rem;
  }

  &__conveniences {
    margin-bottom: 1.7rem;
  }
}