.search-form {

  &__datepicker-single {
    margin-bottom: 1.6rem;
  }

  &__guests-dropdown {
    margin-bottom: 3rem;
  }

  &__price-range {
    margin-bottom: 2.9rem;
  }

  &__checkbox-buttons {
    margin-bottom: 3.1rem;
  }
}