include ../datepicker-single/datepicker-single

form.search-form
  .search-form__datepicker-single
    + datepicker-single('Даты пребывания в отеле')
  .search-form__guests-dropdown
    include ../guests-dropdown/guests-dropdown
  .search-form__price-range
    include ../price-range/price-range
  .search-form__permissions
    include ../permissions/permissions
  .search-form__rich-checkbox-buttons
    include ../rich-checkbox-buttons/rich-checkbox-buttons
  .search-form__conveniences
    include ../conveniences/conveniences
  .search-form__additional-features
    include ../additional-features/additional-features
