.header {
  height: 7rem;
  box-shadow: 0rem 1rem 2rem rgba(31, 32, 65, 0.05);
  z-index: 5;
  background: white;

  &__container {
    position: relative;
    display: flex;
    width: $grid-width;
    max-width: $max-content-width;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include respond(tab-port) {
      padding-right: 7rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__burger {
    display: none;
    text-align: center;

    @include respond(tab-port) {
      display: block;
      position: absolute;
      width: 4.4rem;
      height: 4.4rem;
      border-radius: 50%;
      background: white;
      @include box-shadow;
      top: 1.2rem;
      // right: calc(9.72% - 2rem);
      right: 0;
    }
  }

  &__burger-icon {
    position: relative;
    margin-top: 2.2rem;
    margin-left: .3rem;

    &,
    &::before,
    &::after {
      width: 2.2rem;
      height: 2px;
      background: $light-grey-color;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.7rem;
    }

    &::after {
      top: .6rem;
    }
  }

  &__burger:hover &__burger-icon::before {
    top: -.8rem;
  }

  &__burger:hover &__burger-icon::after {
    top: .7rem;
  }

  &__checkbox:checked + &__burger &__burger-icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__burger &__burger-icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__burger &__burger-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include respond(tab-port) {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: white;
      box-shadow: 0rem 1rem 2.5rem rgba(0, 0, 0, 0.2);
      padding: 1rem;
    }
  }

  &__checkbox:checked ~ &__nav {
    @include respond(tab-port) {
      display: block;
    }
  }
  
  &__nav-list {
    list-style: none;
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
      text-transform: uppercase;
      font-size: 1.8rem;
      padding-left: 1rem;
      padding-top: .7rem;
    }
  }

  &__nav-item {
    margin-right: 2.1rem;

    @include respond(tab-port) {
      margin-bottom: 1rem;
    }

    &:not(:last-child) {

      @include respond(tab-port) {
        border-bottom: 1px solid $smoke-white-color;
        padding-bottom: .8rem;
      }
    }

    &:last-child {
      margin-right: 2.2rem;
    }

    &--expandable {
      position: relative;
      padding-right: 2.4rem;

      &::after {
        font-family: 'Material Icons';
        content: "\e5cf";
        font-size: 2.4rem;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -1rem;
        display: block;
        width: 2.4rem;
        height: 2.1rem;
        line-height: 2.1rem;
        vertical-align: middle;
        color: $grey-color;
        transition: transform .2s;
      }
      
      &:hover:after {
        cursor: pointer;
      }

      &:hover::after,
      &:focus-within::after {
        color: $grey-blue-color;
      }
    }

    &--open.header__nav-item--expandable::after {
      transform: rotate(180deg);
      transform-origin: center;
      transition: transform .2s;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $grey-color;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover {
      color: $grey-blue-color;
    }
  }

  &__expand-list {
    @include light-shadow;
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100% + 2rem);
    padding-top: 2.3rem;
    margin-left: -1rem;
    background-color: white;
    list-style: none;
    text-align: center;
    transition: all .5s ease;
    display: none;
    opacity: 0;
    visibility: hidden;

    @include respond(tab-port) {
      border: 1px solid $smoke-white-color;
      padding-top: 0;
    }
  }

  &__nav-item--open &__expand-list {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: all .5s ease;
    z-index: 10;
  }

  &__expand-item {
    padding-top: .7rem;
  }

  &__expand-item:not(:last-child) {
    border-bottom: 1px solid $smoke-white-color;
  }


  &__expand-link {
    text-decoration: none;
    color: $grey-color;
    display: inline-block;
    padding: .5rem 0;

    &:hover {
      color: $grey-blue-color;
    }

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  &__user-block--logged {
    color: $grey-color;
    padding-left: 4.1rem;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: .8rem;
      display: block;
      content: '';
      width: 1px;
      height: 100%;
      background-color: $grey-color;
    }
  }

  &__link {
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 1.6rem;
    }
    
    // изменяет стили компонента button, используеиого в хэдере
    & .button {
      @include respond(phone) {
        font-size: 0;
        padding: 0;
      }
    }

    & .button-white {
      @include respond(phone) {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
      }

      &::after {
        @include respond(phone) {
          font-family: "Material Icons";
          content: "\e879";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 2rem;
        }
      }
    }

    & .button-blue {
      @include respond(phone) {
        position: relative;
        height: 3.4rem;
        width: 3.4rem;
        border-radius: 50%;
      } 

      &::after {
        @include respond(phone) {
          font-family: "Material Icons";
          content: "\e7fe";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 2rem;
          text-align: center;
          line-height: 3.6rem;
          vertical-align: middle;
        }
      }
    }
  }
}