.header {
  height: 7rem;
  box-shadow: 0rem 1rem 2rem rgba(31, 32, 65, 0.05);
  z-index: 5;

  &__container {
    display: flex;
    width: $grid-width;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
  
  &__nav-list {
    list-style: none;
    display: flex;
  }

  &__nav-item {
    margin-right: 2rem;

    &:last-child {
      margin-right: 2.2rem;
    }

    &--expandable {
      position: relative;
      padding-right: 2.4rem;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: .2rem;
        display: table;
        content: '';
        width: 2.4rem;
        height: 2.1rem;
        background-image: url('./components/header/images/expand_more.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $grey-color;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: $grey-blue-color;
    }
  }

  &__expand-list {
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100% + 2rem);
    padding-top: 2.3rem;
    margin-left: -1rem;
    background-color: white;
    list-style: none;
    text-align: center;
    transition: all .5s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &__nav-item:hover &__expand-list,
  &__nav-item &__expand-list:hover,
  &__nav-item:focus-within &__expand-list {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  &__expand-link {
    text-decoration: none;
    color: $grey-color;
    display: inline-block;
    padding: .5rem 0;

    &:hover {
      color: $grey-blue-color;
    }

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  &__user-block--logged {
    color: $grey-color;
    padding-left: 6.1rem;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: .8rem;
      display: block;
      content: '';
      width: 1px;
      height: 100%;
      background-color: $grey-color;
    }
  }

  &__link {
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }



}