include ../button/button.pug
include ../logo/logo.pug

mixin header(isLoggedIn, userName)
  - isLoggedIn = isLoggedIn || false;
  - userName = userName || 'Гость'
  header(class="header")
    .header__container
      + logo('header__logo')
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href="#") О нас
          li.header__nav-item.header__nav-item--expandable
            a.header__nav-link(href="#") Услуги
            ul.header__expand-list
              li.header__expand-item
                a.header__expand-link(href="#") Услуга 1
              li.header__expand-item
                a.header__expand-link(href="#") Услуга 2
              li.header__expand-item
                a.header__expand-link(href="#") Услуга 3
              li.header__expand-item
                a.header__expand-link(href="#") Услуга 4
          li.header__nav-item
            a.header__nav-link(href="#") Вакансии
          li.header__nav-item
            a.header__nav-link(href="#") Новости
          li.header__nav-item.header__nav-item--expandable
            a.header__nav-link(href="#") Соглашения
            ul.header__expand-list
              li.header__expand-item
                a.header__expand-link(href="#") Соглашение 1
              li.header__expand-item
                a.header__expand-link(href="#") Соглашение 2
              li.header__expand-item
                a.header__expand-link(href="#") Соглашение 3
        if !isLoggedIn 
          .header__user-block--unlogged
            a.header__link(href="#")
              + button('Войти', 'white', 'low', 'narrow')
            a.header__link(href="register.html")
              + button('Зарегистрироваться', 'blue', 'low', 'narrow')
        if isLoggedIn
          .header__user-block--logged= userName


            



