mixin input-field(id, name, placeholder, value)
  - id = id || '';
  - name = name || '';
  - placeholder = placeholder || '';
  - value = value || '';
  input.input-field(id=id, name=name, placeholder=placeholder, autocomplete="off", value=value)
    