mixin input-field(id, name, placeholder)
  - id = id || '';
  - name = name || '';
  - placeholder = placeholder || '';
  input.input-field(id=id, name=name, placeholder=placeholder, autocomplete="off")
    