include ../input-dropdown/input-dropdown

script 
  include datepicker.js
.datepicker(id="datepicker")
  .datepicker__group.datepicker__group--left
    label.datepicker__label.header--third(for="start-date-date-input") Прибытие
    + input-dropdown("datepicker__input", "text", "start-date-input", "start-date", "ДД.ММ.ГГГГ")
  .datepicker__group.datepicker__group--right
    label.datepicker__label.header--third(for="end-date-input") Выезд
    + input-dropdown("datepicker__input", "text", "end-date-input", "end-date", "ДД.ММ.ГГГГ")
  .datepicker__calendar(id="datepicker-calendar")