.ui-form-elements {

  &__header {
    padding-top: 3rem;
    padding-left: 3rem;
    margin-bottom: 5.8rem;
  }

  &__container {
    width: 80.42%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding-bottom: 13.2rem;
  }

  &__section {
    width: 32rem;
  }

  &__section--one {
    margin-right: 12.6rem;
    margin-bottom: 8rem;
  }

  &__section--two {
    margin-right: auto;
  }

  &__section--one &__item {
    margin-bottom: 2rem;

  }

  &__section--one &__item:nth-child(3) {
    margin-bottom: 2.3rem;
  }

  &__section--one &__item:nth-child(4) {
    margin-bottom: 3.5rem;
  }

  &__section--one &__item:nth-child(5) {
    margin-bottom: 3.5rem;
  }

  &__section--one &__item:nth-child(6) {
    width: 26.6rem;
    margin-bottom: 4rem;
  }

  &__section--one &__item:nth-child(7) &__label {
    margin-bottom: .6rem;
  }

  &__section--two &__item {
    margin-bottom: 4rem;
  }

  &__section--two &__label {
    margin-bottom: 1.4rem;
  }

  &__section--two &__item:nth-child(3) &__label {
    margin-bottom: 1.2rem;
  }

  &__section--two &__item:nth-child(3) {
    margin-bottom: 4.3rem;
  }

  &__section--two &__item:nth-child(4) &__label {
    margin-bottom: 1.6rem;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  }

  & .header--third {
    line-height: 1.5rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;

    &--upper {
      // для пиксельперфекта с ui-китом
      margin-top: -.3rem
    }
  }

  &__input--focused .input-field {
    border-color: $grey-color;
  }

  & .subscription-form {
    width: 26.6rem;
  }

  & .subscription-form__icon-box {
    margin-right: -.2rem;
  }

  &__toggle {
    margin-bottom: 1rem;
  }

  &__likes {
    display: flex;
  }

  &__likes .like-button:first-child {
    margin-right: 1rem;
  }

  &__stars {
    display: flex;

    & .rating-stars:first-child {
      margin-right: 2rem;
    }
  }

  &__section--three &__item:first-child {
    width: 26.6rem;
  }

  &__section--three &__item {
    margin-bottom: 1.5rem;
  }

  &__section--three &__item:nth-child(2) {
    margin-bottom: 4rem;
  }

  &__section--three &__label {
    margin-bottom: 1.6rem;
  }

  &__button-row .button-blue,
  &__button-row .button-white {
    font-size: 1.2rem;
  }


  &__button-row .button-blue:first-child,
  &__button-row .button-white__container:first-child {
    margin-right: 1.7rem;
  }

  &__button-row .button-blue:last-child,
  &__button-row .button-white__container:last-child {
    opacity: .5;
  }

  &__button-row:nth-child(2) {
    margin-bottom: 3rem;
  }

  // &__button-row .button--white:first-child {
  //   margin-left: .2rem;
  //   margin-right: 2rem;
  // }

  &__button-row:nth-child(3) {
    margin-bottom: 2.7rem;
  }

  &__button-row:nth-child(4) {
    display: flex;
    margin-bottom: 2.5rem;
  }

  &__link {
    font-family: 'Montserrat Bold';
    font-size: 1.225rem;
    text-transform: uppercase;
    color: $purple-color;

    &:first-child {
      margin-right: 2rem;
    }

    &--active {
      color: $grey-color;
    }
  }

  &__pagination .pagination {
    padding-right: 0;

    &__row {
      justify-content: flex-start;
    }

    &__text {
      text-align: left;
      padding-left: .5rem;
    }
  }

  &__section--four {
    width: 26.6rem;
  }

  &__section--four &__item:first-child {
    margin-bottom: 2rem;
  }

  &__section--four &__item:nth-child(2) {
    margin-bottom: 15.8rem;
  }

  &__list-toggle {
    cursor: pointer;
    width: 4.2rem;
    height: 4.2rem;
    position: relative;
    transition: all .2s;

    &::after { 
      font-family: 'Material Icons';
      content: '\e5cf';
      font-size: 2.4rem;
      color: white;
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      margin-top: -.9rem;
      margin-right: -.8rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      vertical-align: middle;
      text-align: center;
      color: $grey-color;
      transition: all .2s;
    }
  }

  &__section--four &__item:nth-child(3) {
    margin-bottom: 2.2rem;
  }
  
  &__section--four &__item:nth-child(4) {
    margin-bottom: 2.2rem;
  }

  &__section--four .room-info__item {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__section--four {
    margin-right: 18rem;
  }

  &__section--five {
    margin-right: auto;
  }

  &__section--five &__item:first-child {
    margin-bottom: 25.6rem;
  }

  &__section--five &__item:nth-child(2) {
    width: 26.6rem;
  }

  &__section--six &__item:first-child {
    margin-bottom: 25.6rem;
  }

  &__section--six &__item:nth-child(2) {
    width: 26.6rem;
  }

  &__section--six .rules__header {
    padding-left: 0;
    margin-bottom: 1.2rem;
  }

  &__section--seven {
    display: flex;
    width: 100%;
  }

  &__section--seven &__item:first-child {
    margin-right: 16.6rem;
  }

  &__section--seven &__item:last-child {
    padding-top: 3rem;
  }

}