include ../../components/input-field/input-field
include ../../components/input-dropdown/input-dropdown
include ../../components/datepicker/datepicker
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle-button/toggle-button

//- некоторые компоненты использованы в виде своих копий без скриптов
include ../../ui-components/ui-datepicker-single/ui-datepicker-single


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous")
    script 
      include ../../../node_modules/inputmask/dist/jquery.inputmask.bundle.js
    script
      include ./ui-form-elements.js
  body.ui-form-elements
    header.ui-form-elements__header
      .ui-form-elements__logo-container
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25"/>
          <path d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25"/>
          <path d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25"/>
        </svg>
    main.ui-form-elements__container
      .ui-form-elements__section.ui-form-elements__section--one
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Text field
            .ui-form-elements__subtitle.ui-form-elements__subtitle--upper Default
          .ui-form-elements__input
            + input-field("user-email", "email", "Email", "", "")
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Text field
            .ui-form-elements__subtitle Hover / focus
          .ui-form-elements__input.ui-form-elements__input--focused
            + input-field("user-email", "email", "", "This is pretty awesome")
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Dropdown
            .ui-form-elements__subtitle Default
          .ui-form-elements__input-dropdown
            + input-dropdown('ui-input-dropdown')
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Masked text field
            .ui-form-elements__subtitle.ui-form-elements__subtitle--upper Default
          .ui-form-elements__input-dropdown
            + input-field("ui-masked-input", "date", "ДД.ММ.ГГГГ")  
        .ui-form-elements__item
          + datepicker('Date dropdown', 'Date dropdown')
        .ui-form-elements__item
          + ui-datepicker-single('Filter date dropdown')
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Subscription text field
          include ../../components/subscription-form/subscription-form
      .ui-form-elements__section.ui-form-elements__section--two
        .ui-form-elements__item
          include ../../components/permissions/permissions
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Radio Buttons
          + radio-buttons("gender", "male", "Мужчина", "female", "Женщина")
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Toggle
          .ui-form-elements__toggle
            + toggle-button("Получать уведомления", true)
          .ui-form-elements__toggle
            + toggle-button("Получать уведомления")
        .ui-form-elements__item
          .ui-form-elements__label
            .ui-form-elements__title.header--third Like buttons
          button(type="button").review__likes.review__likes--liked 12
      .ui-form-elements__section.ui-form-selements__section--three
        .ui-form-elements__item
          include ../../components/price-range/price-range

       

