include ../logo/logo.pug

footer.footer
  .footer__container
    .footer__brand
      + logo('footer__logo')
      p.footer__brand-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__group-item.footer__navigation
      h3.footer__header.header--third Навигация
      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") О нас
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Новости
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Служба поддержки
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Услуги
    .footer__group-item.footer__about
      h3.footer__header.header--third О нас
      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") О сервисе
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Наша команда
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Вакансии
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Инвесторы
    .footer__group-item.footer__support-service
      h3.footer__header.header--third Служба поддержки
      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Соглашения
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Сообщества
        li.footer__list-item
          a.footer__list-link(href="empty-page.html") Связь с нами
    .footer__subscription
      h3.footer__header.header--third Подписка
      p.footer__subscription-text Получайте специальные предложения и новости сервиса
      include ../subscription-form/subscription-form
  .footer-bar
    .footer-bar__container
      p.footer-bar__copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
      .footer-bar__social
        a.social__link.social__link--twitter(href="empty-page.html")
        a.social__link.social__link--facebook(href="empty-page.html")
        a.social__link.social__link--instagram(href="empty-page.html")
