.footer {

  &__container {
    width: $grid-width;
    margin: 0 auto;
    display: flex;
    padding-top: 10.4rem;
  }

  &__brand {
    background-color: red;
    margin-top: -.4rem;
    width: 26rem;
  }

  &__logo {
    margin-bottom: 1.7rem;
  }

  &__subscription {
    margin-left: auto;
    width: 26rem;
  }

  &__header {
    margin-bottom: 1.8rem;
  }

  &__subscription-text {
    margin-bottom: 2.3rem;
  }

}