.footer {
  border-top: 1px solid rgba(31, 32, 65, 0.1);

  &__container {
    width: $grid-width;
    margin: 0 auto;
    display: flex;
    padding-top: 10.4rem;
    padding-bottom: 7.9rem;
  }

  &__brand {
    margin-top: -.4rem;
    width: 26rem;
    margin-right: 3.4482759%;
  }

  &__logo {
    margin-bottom: 1.7rem;
  }

  &__subscription {
    margin-left: auto;
    width: 26rem;
  }

  &__header {
    margin-bottom: 1.8rem;
  }

  &__subscription-text {
    margin-bottom: 2.3rem;
  }

  &__group {
    display: flex;
  }

  &__list {
    list-style: none;
    line-height: normal;
    padding-top: .3rem;
  }

  &__list-item {
    margin-bottom: 2rem;
  }

  &__list-link {
    display: block;
    text-decoration: none;
    color: $grey-color;
  }

  &__navigation {
    margin-right: 4.9137931%;
  }

  &__about {
    margin-right: 7.9310345%;
  }
}

.footer-bar {
  border-top: 1px solid rgba(31, 32, 65, 0.1);

  &__container {
    min-height: 7rem;
    width: $grid-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    display: flex;
    align-items: center;
  }


  .social__link {
    display: block;
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;

    &:not(:first-child) {
      margin-left: 2rem;
    }
    
    &:hover::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(white, .2);
    }

  }

  .social__link--twitter {
    background-image: url(components/footer/images/twitter-icon.svg);
  }

  .social__link--facebook {
    background-image: url(components/footer/images/facebook-icon.svg);
  }

  .social__link--instagram {
    background-image: url(components/footer/images/instagram-icon.svg);
  }
}