include ../checkbox-list/checkbox-list

- 
  var permissions = [
    { id: 'smocking-checkbox', name: 'permission1', value: 'smocking', label: 'Можно курить'},
    { id: 'pets-checkbox', name: 'permission2', value: 'pets', label: 'Можно с питомцами'},
    { id: 'guests-checkbox', name: 'permission3', value: 'guests', label: 'Moжно пригласть гостей\n до 10 человек'}
  ]

.permissions
  .permissions__title.header--third Checkbox buttons
  + checkbox-list('', permissions)