.booking-form {
  width: 38rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: .4rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  padding-top: 3.9rem;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.7rem;
  }

  &__number-group {
    font-family: 'Quicksand Bold', 'Montserrat Bold', sans-serif;
    margin-bottom: -.2rem;
  }

  &__number-symbol {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  &__number {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  &__luxury {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $purple-color;
  }

  &__price {
    font-family: 'Montserrat Bold', sans-serif;
    color: $grey-color;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__price-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
  }

  &__datepicker {
    margin-bottom: 1.5rem;
  }

  &__guests-dropdown {
    margin-bottom: 1.8rem;
  }

  &__costs-text {
    margin-bottom: 3.2rem;
  }

  &__text-row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__text {
    padding: 0 .1rem;
    line-height: 1.8rem;
    
    &--has-info {
      width: 21.9rem;
    }
  }
  
  &__info-icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid $light-grey-color;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    vertical-align: middle;
    margin-right: auto;
    position: relative;
    top: .2rem;

    &:hover {
      border-color: $grey-color;
      color: $grey-color;
    }
  }

  &__total {
    display: flex;
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-family: 'Quicksand Bold', 'Montserrat Bold', sans-serif;
    font-weight: bold;
    color: $dark-blue-color;
    align-content: flex-end;
    margin-bottom: 2rem;
  }

  &__total-line {
    flex-grow: 2;
    height: 1px;
    background: $light-grey-color;
    align-self: flex-end;
    margin: 0 .5rem;
  }
}