include ../button-submit/button-submit
include ../datepicker/datepicker

mixin booking-form(room)
  -
    var roomPrice = room['price'].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 '); 
  form.booking-form(id="booking-form")
    .booking-form__row
      if room.isLuxury
        .booking-form__number-group 
          span.booking-form__number-symbol &#8470;&nbsp;
          span.booking-form__number #{room.number}
          span.booking-form__luxury  Люкс
      else
        .booking-form__number-group 
          span.booking-form__number-symbol &#8470;&nbsp;
          span.booking-form__number #{room.number}
      .booking-form__price
        | #{roomPrice}₽
        span.booking-form__price-text  в сутки
    .booking-form__datepicker
      + datepicker('Прибытие', 'Выезд')
    .booking-form__guests-dropdown
      include ../guests-dropdown/guests-dropdown
    .booking-form__costs-text
      .booking-form__text-row
        .booking-form__text
          //-  цена, используемая в подсчёте стоимости, захардкодена в datepicker.js в функции setDaysCost
          | #{roomPrice}₽ x&nbsp;
          span.booking-form__days(id="booking-form-days") 0 суток
        .booking-form__days-cost(id="booking-form-days-cost") 0₽
      .booking-form__text-row
        .booking-form__text.booking-form__text--has-info
          | Сбор за услуги: скидка 2 179₽
        .booking-form__info-icon(title="скидка действует до 01.09.2019") i
        .booking-form__service-cost 0₽
      .booking-form__text-row
        .booking-form__text.booking-form__text--has-info
          | Сбор за дополнительные услуги 
        .booking-form__info-icon(title="дополнительный сбор за каждого взрослого в номере - 100р") i
        //- дополнительный сбор зафиксирован в datepicker.js(setTotalCost) и не меняется
        .booking-form__additional-service-cost 300₽      
    .booking-form__total
      .booking-form__total-text Итого
      .booking-form__total-line
      .booking-form__total-cost(id="booking-form-total-cost") 0₽
    + button-submit('Забронировать')


