.room-info
  h2.room-info__title.header--second Сведения о намере
  ul.room-info__list
    li.room-info__item.room-info__item--comfort
      .room-info__icon &#xE24E;
      .room-info__item-text
        .room-info__item-title Комфорт
        .room-info__item-text Шумопоглошающие стены
    li.room-info__item.room-info__item--convenience
      .room-info__icon &#xe7f1;
      .room-info__item-text
        .room-info__item-title Удобство
        .room-info__item-text Окно в каждой из спален
    li.room-info__item.room-info__item--cosiness
      .room-info__icon &#xe80e;
      .room-info__item-text
        .room-info__item-title Уют
        .room-info__item-text Номер оснащён камином