include ../room-card/room-card

- 
  var rooms = [
    { number: 888, price: 9900, isLuxury: true,  rating: 5, reviewsNumber: 145 },
    { number: 840, price: 9900, isLuxury: false,  rating: 4, reviewsNumber: 65 },
    { number: 980, price: 8500, isLuxury: true,  rating: 2, reviewsNumber: 35 },
    { number: 856, price: 7300, isLuxury: false,  rating: 5, reviewsNumber: 19 },
    { number: 740, price: 6000, isLuxury: false,  rating: 4, reviewsNumber: 44 },
    { number: 982, price: 5800, isLuxury: false,  rating: 3, reviewsNumber: 56 },
    { number: 678, price: 5500, isLuxury: false,  rating: 5, reviewsNumber: 45 },
    { number: 450, price: 5300, isLuxury: false,  rating: 4, reviewsNumber: 39 },
    { number: 350, price: 5000, isLuxury: false,  rating: 3, reviewsNumber: 77 },
    { number: 666, price: 5000, isLuxury: false,  rating: 5, reviewsNumber: 25 },
    { number: 444, price: 5000, isLuxury: false,  rating: 3, reviewsNumber: 15 },
    { number: 352, price: 5000, isLuxury: false,  rating: 3, reviewsNumber: 55 }
  ]


.search-rooms  
  each room in rooms
    + room-card(room)
    
