.ui-colors-type {

  &__header {
    padding-top: 3rem;
    padding-left: 3rem;
    margin-bottom: 6rem;
  }

  &__main {
    display: flex;
    width: 79.1666667%;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.ui-colors {
  margin-right: 20rem;

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__sample {
    width: 7rem;
    height: 7rem;
    border-radius: .6rem;
    margin-right: 4rem;
    
    &--dark-blue {
      background: $dark-blue-color;
    }

    &--grey-blue {
      background: $grey-blue-color;
    }

    &--grey {
      background: $grey-color;
    }

    &--light-grey {
      background: $light-grey-color;
    }

    &--smoke-white {
      background: $smoke-white-color;
    }

    &--purple {
      background: $purple-color;
    }

    &--green {
      background: $green-color;
    }
  }

  &__text {
    align-self: center;
    color: $dark-blue-color;
  }

  &__title {
    line-height: 2.9rem;
  }

  &__hexcode {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.9rem;
    line-height: 2.9rem;
    letter-spacing: -.04rem;
  }
}

.ui-type {
  padding-right: 2.8rem;

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;

    &--third {
      margin-bottom: 4.7rem;
    }
  }

  &__tag {
    text-transform: uppercase;
    color: $light-grey-color;
    text-align: right;

    &--first {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }

    &--second {
      font-size: 1.9rem;
      line-height: 2.3rem;
    }

    &--third {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &--body {
      text-transform: none;
    }
  }

  &__text {
    width: 35rem;
    margin-left: 2.9rem;
  }

  & .header--first {
    letter-spacing: normal;
  }
}