.checkbox-buttons
  .checkbox-buttons__title.header--third Checkbox buttons
  ui.checkbox-buttons__list
    li.checkbox-buttons__item
      input.checkbox-buttons__input(type="checkbox" id="smoking-checkbox" name="permission1" value="smoking")
      label.checkbox-buttons__label(for="smoking-checkbox") Можно курить
    li.checkbox-buttons__item
      input.checkbox-buttons__input(type="checkbox" id="pets-checkbox" name="permission2" value="pets")
      label.checkbox-buttons__label(for="pets-checkbox") Можно с питомцами
    li.checkbox-buttons__item
      input.checkbox-buttons__input(type="checkbox" id="guests-checkbox" name="permission3" value="guests")
      label.checkbox-buttons__label(for="guests-checkbox") 
        | Можно пригласить гостей 
        br
        | (до 10 человек)
