.datepicker-single {
  position: relative;

  & .ui-datepicker {
    display: block;
  }

  &__label {
    display: inline-block;
    margin-bottom: .54rem;
  }

    &__calendar {
    z-index: 100;
    position: absolute;
    top: 7.5rem;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity .2s linear;

    &--visible {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity .2s linear;
    }
  }
}