extends ../common/common


block title
  | Details
block main
  main.details__main
    .details__photos
      .details__column--left
        .details__photo.details__photo--1
      .details__column--right
        .details__photo.details__photo--2
        .details__photo.details__photo--3
    .details__container

    