extends ../common/common
include ../../components/booking-form/booking-form

block title
  | Details
block main
  - 
    var room = { 
      number: 888,
      price: 9990,
      isLuxury: true
    }
  main.details__main
    .details__photos
      .details__photo-column--left
        .details__photo.details__photo--1
      .details__photo-column--right
        .details__photo.details__photo--2
        .details__photo.details__photo--3
    .details__container
      .details__column--left
        .details__info-row
          .details__info
            include ../../components/room-info/room-info
          .details__impressions
            include ../../components/room-impressions/room-impressions
        .details__reviews
          include ../../components/room-reviews/room-reviews
        .details__rules-row
          .details__rules
            include ../../components/rules/rules
          .details__cancel
            include ../../components/cancel/cancel
      .details__column--right
        + booking-form(room)
      

    