.details {

  &__main {
    padding-top: .1rem;
    padding-bottom: 7.2rem;
  }

  &__photos {
    width: 100%;
    display: flex;
  }

  &__photo-column--left {
    width: 68.13%;
  }

  &__photo-column--right {
    width: 31.87%;
  }

  &__photo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--1 {
      min-height: 33.6vw;
      background-image: url('./pages/details/images/room-888-1.jpg');      
    }

    &--2 {
      height: 50%;
      background-image: url('./pages/details/images/room-888-2.jpg');  
    }

    &--3 {
      height: 50%;
      background-image: url('./pages/details/images/room-888-3.jpg');   
    }
  }

  &__container {
    width: $grid-width;
    padding-top: 7rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__column--left {
    width: 61.5%;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }

  &__impressions {
    width: 49.4%;
  }

  &__reviews {
    margin-bottom: 3.25rem;
  }

  &__rules-row {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }

  &__rules {
    width: 36%;
  }

  &__cancel {
    width: 48%;
  }
}