.details {

  &__main {
    padding-top: .1rem;
    padding-bottom: 7.2rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1); 
  }

  &__photos {
    width: 100%;
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__photo-column--left {
    width: 68.13%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__photo-column--right {
    width: 31.87%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__photo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--1 {
      min-height: 33.6vw;
      background-image: url('./pages/details/images/room-888-1.jpg'); 

      @include respond(phone) {
        margin-bottom: 1rem;
      }     
    }

    &--2 {
      height: 50%;
      background-image: url('./pages/details/images/room-888-2.jpg');  

      @include respond(phone) {
        min-height: 33.6vw;
        margin-bottom: 1rem;
      }
    }

    &--3 {
      height: 50%;
      background-image: url('./pages/details/images/room-888-3.jpg');  

      @include respond(phone) {
        min-height: 33.6vw;
        margin-bottom: 1rem;
      } 
    }
  }

  &__container {
    width: $grid-width;
    max-width: $max-content-width;
    padding-top: 7rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column--left {
    width: 61.5%;
    
    @include respond(tab-port) {
      width: 80%;
      margin-bottom: 4rem;
    }
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
    }
  }

  &__info {

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__impressions {
    width: 49.4%;

    @include respond(phone) {
      width: auto;
    }
  }

  &__reviews {
    margin-bottom: 3.25rem;
  }

  &__rules-row {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__rules {
    width: 36%;

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      width: auto;
      margin-bottom: 3rem;
    }
  }

  &__cancel {
    width: 48%;

    @include respond(tab-port) {
      width: 55%;
    }

    @include respond(phone) {
      width: auto;
    }
  }
}