include ../../components/input-dropdown/input-dropdown

mixin ui-datepicker-single(title)
  - title = title || '';
  .datepicker-single(id="datepicker-single")
    label.datepicker-single__label.header--third= title
    .datepicker-single__group
      + input-dropdown('datepicker-single__input', 'text', 'dates-input', 'dates', 'Даты прибывания')
      .datepicker-single__calendar(id="datepicker-single-calendar")