.rules
  h2.rules__header.header--second Правила
  ul.rules__list
    li.rules__item Нельзя с питомцами
    li.rules__item Без вечеринок и мероприятий
    li.rules__item Время прибытия — после 13:00, а выезд до 12:00