.room-reviews {
  padding-right: .3rem;

  &__header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.1rem;
  }

  &__amount {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $grey-color;
    margin-bottom: -.5rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem;
  }
}

.review {

  &__column--left {
    margin-right: .9rem;
  }

  &__image {
    border: 2px solid white;
    border-radius: 50%;
    @include light-shadow;
    margin-bottom: .5rem;
  }

  &__likes {
    display: flex;
    justify-content: center;
  }

  &__name {
    font-family: 'Montserrat Bold', sans-serif;
    font-weight: bold;
  }

  &__time {
    margin-bottom: 1rem;
  }
}