include ../like-button/like-button

.room-reviews
  .room-reviews__header-row
    h2.room-reviews__header.header--second Отзывы посетителей номера
    .room-reviews__amount 2 отзыва
  ul.room-reviews__list
    li.room-reviews__item
      .review__column--left
        img.review__image(src=require("../../components/room-reviews/images/image1.jpg") alt="user1" width="48" height="48")
        .review__likes
          + like-button(12, true)
      .review__column--right
        .review__name Мурад Сарафанов
        .review__time 5 дней назад
        p.review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
    li.room-reviews__item
      .review__column--left
        img.review__image(src=require("../../components/room-reviews/images/image2.jpg") alt="user1" width="48" height="48")
        .review__likes
          + like-button(2)
      .review__column--right
        .review__name Патрисия Стёклышкова
        .review__time Неделю назад
        p.review__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент