extends ../common/common
block title
  | Страница не найдена
block main
  //- main(class="main")
  //-   .main__container
  //-     h1.header--first Страница пока не создана
  h1.empty-page__header.header--first Страница пока не создана